[submodule "Harmony-v2"]
	path = Harmony-v2
	url = https://github.com/drok/Harmony
	branch = maintenance-v2
[submodule "Compat-CitiesHarmony.Harmony-2.0.4.0"]
	path = Compat-CitiesHarmony.Harmony-2.0.4.0
	url = https://github.com/drok/Harmony
	branch = maintenance-CitiesHarmony.Harmony-2.0.4.0
[submodule "MonoMod.Common"]
	path = MonoMod.Common
	url = https://github.com/drok/MonoMod.Common
	branch = maintenance-Harmony-CitiesSkylines
[submodule "HarmonyMod/Priority-Queue"]
	path = HarmonyMod/Priority-Queue
	url = https://github.com/BlueRaja/High-Speed-Priority-Queue-for-C-Sharp
[submodule "HarmonyMod/Json.NetMF"]
	path = HarmonyMod/Json.NetMF
	url = https://github.com/nanoframework/Json.NetMF
